@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Whisper&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: linear-gradient(to left, #900C3F, #C70039);
    --text-color: #F8DE22;
    --button-color: #F94C10;
}

.body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    z-index: 999;
}
.header_nav {
    position: relative;
    display: flex;
    line-height: 50px;
}

.header_nav a {
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    margin: 0 10px;
    color: var(--text-color);
}

.header_nav a::after {
    content: "";
    border: 1px solid #f18900;
    margin-left: 15px;
}

.content {
    width: 100%;
    margin-top: 50px;
    height: 700px;
    /* padding: 100px 0; */
    background: linear-gradient(to right, #fe0000, #4d2e33);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content .background {
    width: 900px;
    height: 600px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(226, 247, 0, 0.938);
}

.content .background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content div {
    position: absolute;
    font-family: 'Whisper', cursive;
    font-size: 80px;
    text-align: center;
    color: var(--text-color);
}

.content .wish{
    transform: translateY(-30px);
}

.content .year {
    transform: translateY(40px);
}

.content .img-item {
    width: 200px;
}

.content .hoa img {
    transform: translate(-460px, 180px) rotate(-50deg);
    width: 100%;
}

.content .tre img {
    transform: translate(-423px, 160px) rotate(-10deg) scale(2);
    width: 100%;
}

.content .vang img {
    position: absolute;
    transform: translate(-423px, 160px) scale(0.8);
    width: 100%;
    z-index: 1;
}

.content .banhChung img {
    position: absolute;
    transform: translate(300px, 100px) scale(1.3);
    width: 100%;
    z-index: 1;
}

.content .hoa2 img {
    position: absolute;
    transform: translate(300px, 20px) scale(2.5);
    width: 100%;
}

.content .hoa3 img {
    position: absolute;
    transform: translate(200px, 20px) scale(1.5);
    width: 100%;
    z-index: 1;
}

.content .hoa4 img {
    position: absolute;
    transform: translate(-480px, -360px) scale(0.8);
    width: 100%;
    z-index: 1;
}

.content .chen img {
    position: absolute;
    transform: translate(150px, 150px) scale(2);
    width: 100%;
    z-index: 2;
}

.content .may img {
    position: absolute;
    transform: translate(-80px, 50px) scale(2);
    width: 100%;
    z-index: 2;
}

canvas {
    position: absolute;
	cursor: crosshair;
	display: block;
    z-index: 3;
}

.letter {
    width: 100%;
    height: 1300px;
    background: url('./BackGround-img/background2.jpg') no-repeat center/ cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter_wrapper {
    border-radius: 20px;
    background: rgba(171, 6, 60, 0.6);
    width: 1000px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.letter_avatar {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(-250px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.letter_avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hoa_avatar  {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1;
    transform: translate(-380px, -140px) rotate(-25deg);
}

.letter_content {
    width: 600px;
    line-height: 1.4;
    font-size: 25px;
    text-align: justify;
    color: #e1d5d5  ;
}

.slideshow {
    width: 100%;
    height: 1000px;
    background: url('./BackGround-img/background3.jpg') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideshow-container {
    width: 80%;
    height: 80%;
}
.slideshow-main {
    height: 70%;
    margin-bottom: 20px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.img_feature {
    transition: 1s;
}

.control {
    position: absolute;
    color: var(--button-color);
    font-size: 45px;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.slideshow-list_img div{
    padding: 5px;
    cursor: pointer;
}

.slideshow-list_img {
    border-radius: 10px;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.active {
    background: var(--background-color);
}

